
<div ng-if="films && generi">
    <!-- select generi -->
    <div class="row">
        <div class="col-md-2">
            <select  class="form-control ml-25" ng-model="gen" ng-options="genere.id as genere.name for genere in generi"></select>
        </div>
    </div>
    <div class="row">
        <!-- foto -->      
        <!-- <foto ng-repeat="foto in photos" foto="foto"></foto> -->
    </div>
    <div class="row">
        <!-- film -->      
        <film-card 
            class="mb-10 p-40 col-md-6 col-sm-6 col-xs-12"
            ng-if="all" 
            ng-repeat="film in films | filtraPerTitolo : shared | filtraPerGenere : gen track by $index" 
            film="film"
            ui-sref="film({id:film._id})">
        </film-card>
    </div>
<!-- fine card -->
</div>

