<div style="background-image:url(https://image.tmdb.org/t/p/w500{{mv.film.backdrop_path}});background-size: cover;">
    <div class="row" style="color:#dfdfdf; 
background-image:radial-gradient(circle at 20% 50%, rgba(2.75%, 2.75%, 2.75%, 0.85) 0%, rgba(17.25%, 18.04%, 17.65%, 0.94) 100%);">
        <div class="pl-0 col-md-4">
            <img class="card-img-top" style="height: 500px" ng-src="{{'https://image.tmdb.org/t/p/w500/'+mv.film.poster_path}}" alt="Card image cap">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <h5 ng-bind="mv.film.title"></h5>
                </div>
                <div class="col-md-4">
                    <h5 class="text-right">{{mv.film.vote_average}}
                        <i ng-click="mv.mostra=true" class="fa fa-star" aria-hidden="true"></i>
                    </h5>
                    <div ng-if="mv.mostra" class="pull-right">
                            <i class="fa fa-star" 
                               ng-class="{'yellow':s.colorata}" 
                               ng-repeat="s in mv.stars" 
                               ng-mouseover="mv.colora($index)"
                               ng-mouseleave="mv.scolora()"
                               ng-click="mv.vota($index)"
                               ></i>                            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span  ng-bind="mv.film.release_date | date: 'yyyy'"></span>
                </div>
                <div class="col-md-8">
                    <div class="generi text-right">
                        <span ng-repeat="genere in mv.film.genre">{{genere.name}},</span>
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-md-12">
                    <span ng-bind="mv.film.overview"></span>
                </div>
            </div>
        </div>
    </div>
</div>