html,body{

    background-color: #f4f4f4;
}
.card{
    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.card:hover{
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.1);
}

.mt-30{
    margin-top: 30px;
}
.ml-25{
    margin-left: 25px;
}
.mb-10{
    margin-bottom: 10px;
}
.pl-0{
    padding-left: 0px;
}

.p-40{
    padding: 40px;
}

.generi {
    padding-left: 1px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}
.grey{
    color:#666666bf;
}