    {{mv.test}}
    <div class="row card">
        <div class="pl-0 col-md-4">
            <img class="card-img-top" ng-style="mv.style" ng-src="{{'https://image.tmdb.org/t/p/w500/'+mv.film.poster_path}}" alt="Card image cap">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <h5 ng-bind="mv.film.title"></h5>
                </div>
                <div class="col-md-4">
                    <h5 class="text-right">{{mv.film.vote_average}}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-calendar grey" aria-hidden="true"></i>
                    <span class="grey" ng-bind="mv.film.release_date | date: 'yyyy'"></span>
                </div>
                <div class="col-md-8">
                    <div class="generi grey text-right"><span ng-repeat="genere in mv.film.genre">{{genere.name}},</span></div>
                </div>
            </div>
            <div class="row mt-30">
                    <div class="col-md-12">
                        <span class="grey" ng-bind="mv.film.overview | cut"></span>
                    </div>
            </div>
        </div>
    </div>
        <!-- <div class="card-body">
        <p class="card-text" ng-bind="mv.film.overview | cut"></p>
    </div>
</div> -->