<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">The Movie DB</a>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active">
                <a ui-sref="films">Film</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="tv">Serie TV</a>
            </li>

        </ul>
        <div ng-if="stato" class="navbar-header pull-right">
            <input  ng-change="set()" style="margin:15px;" ng-model="$parent.search" type="text">
        </div>
    </div>
</nav>